torch 
transformers 
accelerate 
bitsandbytes 
langchain 
sentence-transformers 
aiss-cpu 
openpyxl 
pacmap  
langchain-community 
ragatouille
langchain-huggingface
langchain-groq
gradio
PYPDF2
langchain-prompty
